
<form [formGroup]="filter" (ngSubmit)="onFilter()">
  <input formControlName="user" />
  <ng-container *ngIf="filter.get('user').dirty">
    <span *ngIf="filter.get('user').hasError('required')">Это поле нужно заполнить обязательно!</span>
  </ng-container>

  <ng-container *ngIf="filter.get('user').hasError('minlength')">
    Длинна должны быть не меньше {{filter.get('user').getError('minlength').requiredLength()}}, а вы ввели {{filter.get('user').value.length}}
  </ng-container>
  
  <br><button type="submit" [disabled]="filter.invalid">Submit</button>
  

</form>
{{filter.get('user').value}}
<button (click)="filter.controls.user.setValue('Вася привет!')">нажми</button>

<table>
  <thead>
    <tr *ngFor="let headRow of head">
      <th *ngFor="let header of headRow" [attr.colspan]="header[2]?.colspan" [attr.rowspan]="header[2]?.rowspan">
        {{header[0]}}
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let tr of people">
      <ng-container *ngFor="let headRow of head">
        <ng-container *ngFor="let head of headRow">
        <td *ngIf="!head[3]">
            {{tr[head[1]]}}
        </td>
        </ng-container>
      </ng-container>
    </tr>
  </tbody>
</table>

<!-- <ng-container [ngSwitch]="10">
  <span *ngSwitchCase="10">
    10
  </span>
</ng-container> -->