
<form [formGroup]="filter" (ngSubmit)="onFilter()">
  <input formControlName="user" /> <br>
  Имя: <input formControlName="firstName" /> <br>
  Фамилия: <input formControlName="lastName" /> <br>
  Отчество: <input formControlName="middleName" /> <br>
  <ng-container *ngIf="filter.get('user').dirty">
    <ng-container *ngIf="filter.get('user').hasError('required')">
      Это поле обязательное!
    </ng-container>
    
    <ng-container *ngIf="filter.get('user').hasError('minlength')">
      Длинна поля должна быть не меньше {{filter.get('user').getError('minlength').requiredLength}} а вы ввели {{filter.get('user').value.length}}
    </ng-container>
  </ng-container>
  
  <button type="submit" [disabled]="filter.invalid">Submit</button>
</form>
{{filter.get('user').errors  | json}}
{{filter.value  | json}}
<button (click)="addTable()">Click ME</button>

<table>
  <thead>
    <tr *ngFor="let headRow of head">
      <th *ngFor="let header of headRow" [attr.colspan]="header[2]?.colspan" [attr.rowspan]="header[2]?.rowspan">
        {{header[0]}}
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let tr of people">
      <ng-container *ngFor="let headRow of head">
        <ng-container *ngFor="let head of headRow">
        <td *ngIf="!head[3]">
            {{tr[head[1]]}}
        </td>
        </ng-container>
      </ng-container>
    </tr>
  </tbody>
</table>