<table>
  <thead>
    <tr *ngFor="let headRow of head">
      <th *ngFor="let header of headRow" [attr.colspan]="header[2]?.colspan" [attr.rowspan]="header[2]?.rowspan">
        {{header[0]}}
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let tr of people">
      <ng-container *ngFor="let headRow of head">
        <ng-container *ngFor="let head of headRow">
        <td *ngIf="!head[3]">
            {{tr[head[1]]}}
        </td>
        </ng-container>
      </ng-container>
    </tr>
  </tbody>
</table>

<ng-container [ngSwitch]="10">
  <span *ngSwitchCase="10">
    10
  </span>
</ng-container>